.head1{
  border-radius: 4px;
  align-items: center;
    align-items: center;
    padding-bottom: 2vw;
    padding-top: 7px;
    
  }
  .head{
    background-color: gray ;
    border-radius: 10px;
    opacity: 0.75;
    text-align: center;

  }
  
header{
  padding-left: 10%;
    padding-right: 10%;
  padding-top: 5vh;
position: relative;
height: 20%;
}
.ay{
  font-size: 40px;
  color: red;
}
body{
  padding-top: 8px;
  height: auto;
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("https://www.bigboytoyz.com/theme/BBT/img/gurgaon/home/08.jpg");

  align-content: center;
  align-items: center;
    background-size: cover; 
  border: 0ch;
margin: 0%;
padding: 0%;
word-spacing: 5px;
font-weight: medium;
letter-spacing: 1px;
font-family: 'Montserrat', sans-serif;
}
form{
  font-size: 20px;
}
input[type=text]{
  width: 15%;
  border:2px solid rgb(134, 133, 133);
  border-radius: 5px;
  padding: 8px;
  transition: 0.3s;
}
input[type=submit]{
  width: 15%;
  border:2px solid dodgerblue;
  border-radius: 5px;
  padding: 8px;
  transition: 0.3s;
}
input[type=text]:focus{
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
  
}
input[placeholder],input[value]{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
.back{
  color: white;
  text-decoration: none;
}